/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #7e7e7e;
  padding: 20px;
}

/* Header */
header {
  background-color: #964B00;
  color: brown;
  padding: 20px 0;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: unset;
}

/* Sections */
section {
  background-color: #1b006d;
  margin: 10px ;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Footer */
footer {
  text-align: center;
  margin-top: 640px;
  font-size: 0.9em;
  color: #666;
}



